.hero {
    background-image: url('./images/hills.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.carousel-indicators [data-bs-target]{
    background-color: grey;
}